@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --text: 235 19% 35%;
    --border: 236 32% 92%;
    --card: 0 0% 100%;
  }

  .dark {
    --background: 235 21% 11%;
    --text: 235 39% 85%;
    --border: 237 14% 26%;
    --card: 235 24% 19%;
  }
}

@layer base {
  * {
    @apply transition-all;
  }
}
